{% extends "base.html" %}
{% load url from future %}
{% load core_extras %}
{% load i18n %}

{% block content %}
<div class="page-agency-listing">

  {% include 'requests/agency_contact_view.html' %}
</div>



{% endblock %}

{% block page_scripts %}
<script src="{{ STATIC_URL }}js/backbone-0.9.10-min.js"></script>
<script src="{{ STATIC_URL }}js/backbone-tastypie.js"></script>
<script src="{{ STATIC_URL }}js/medium-editor.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/backbone-multi-post-fix.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/agency.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/request.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/government.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/contact.js"></script>
<script>
$(document).ready(function() {
  new AgencySelectionView({el: "#agency-view"});
});
</script>
{% endblock %}
