// Zen Grids settings
// ******************

$zen-column-count: 12;
$zen-gutter-width: 30px;
$box-sizing-polyfill-path: "boxsizing.htc" !default;

// Colors setup
// ***********

$logo-bg: #FFCC40;
$nav-bg: #FAF6EF;
$nav-bg-active: #F9E8C9;
$nav-links: #7D6D5E;
$nav-icon: #B3A68E;
$call-to-action: #E15838;
$selected-color: #40A467;
$label-text: #8D7063;
$headline: #564B41;
$support-text: #86827E;
$gray-button: #F4F4F4;

// MIXINS
// ***************

@mixin placeholder-text {
    color: #999;
}

@mixin textarea {
    width: 100%;

    &.editable {
        &:empty:not(:focus):before{
            content:attr(data-ph)
        }
        @include transition-property();
        @include transition-duration(0.5s);
        background-color: #fffff9 !important;
        @include border-radius(4px);
        @include box-shadow(0px 0px 3px 1px rgba(black, .25) inset);
        border: 1px solid #C9B29D;
        padding: 5px;
        background-color: $nav-bg + 10;
        overflow: scroll;
    }
    &:focus {
        border-color: $selected-color;
        background-color: #fff;
        outline: none;
    }
}

@mixin addbutton {
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 1px 0px white inset;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3);
    transition-property: all;
    transition-duration: 0.15s;
    background-color: rgb(244, 244, 244);
    border: 1px solid rgb(217, 217, 217);
    height: 30px;
    line-height: 31px;
    padding: 0px 15px;
    font-size: 13.1765px;
    color: rgb(64, 164, 103);
    text-decoration: none;
    outline: medium none;
    &:hover {
      cursor: pointer;
      background-color: darken(rgb(244, 244, 244), 20%)
    }
    &:active {
      background-color: darken(rgb(244, 244, 244), 50%)
    }
}
@mixin saveeditbutton {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
    &:hover {
        text-decoration: underline;
        cursor: pointer;
        //font-size: 30px;
        color: darken($call-to-action, 50%);
    } 
}
@mixin removebutton {
    height: 20px;
    width: 20px;
    padding-top: 5px;
    text-align: center;
    font-size:20px;
    &:hover {
        text-decoration: underline;
        cursor: pointer;
        //font-size: 30px;
        color: darken($call-to-action, 50%);
    } 
}
@mixin itemstyle {
    padding: 10px 0;
    border-top: 1px dashed $support-text + 70;
    border-bottom: 1px dashed $support-text + 70;
    @include border-radius(3px);
    display: inline-block;
    //float: left;
    margin-right: 10px;
    color: #80630B;
    background-color: #FCECBB;
    padding: 5px 10px 5px 10px;
    border: 1px solid #FFD450;
    margin-top: 3px;
    &:hover {
        background-color: darken(#FCECBB, 20%);
    }
}

@mixin recipient-style {
    border: solid 1px #ffc96e;
    width: 250px;
    margin: 0 auto;
    padding: 7px;
    margin-bottom: 10px;
    &:hover {
        background-color: #eee;
    }
    .name {
        display: block;
        color: #999;
        font-size: 80%;
    }
    .agency {
        display: block;
        color: #999;
        font-size: 80%;
    }
    .remove-contact-btn {
        float: right;
        margin-top: -3px;
        font-size: 17px;
        &:hover {
            //font-size: 150%;
            color: darken( $call-to-action, 50%);
        }
    }
}

$red:   #E0645C;
$dark:  #444444;
$light: #999999;
$blue:  #2DB6CF;
$green: #46b98a;
$white: #FFFFFF;


@mixin flat-button {
  border: 0 none;
  border-radius: 2px 2px 2px 2px;
  color: #FFFFFF;
  cursor: pointer;
  padding: 7px 7px;
  text-transform: none;
  transition: all 0.3s ease 0s;
  &:hover {
    cursor: pointer;
  }
  &.red {
    background: none repeat scroll 0 0 $red;
    color: $white;
    &:hover {
      background: none repeat scroll 0 0 $light;
      color: $white;
    }
  }
  &.dark {
    background: none repeat scroll 0 0 $dark;
    color: $white;
    &:hover {
      background: none repeat scroll 0 0 $blue;
      color: $white;
    }
  }
  &.light {
    background: none repeat scroll 0 0 $light;
    color: $white;
    &:hover {
      background: none repeat scroll 0 0 $dark;
      color: $white;
    }
  }
  &.green {
    background: none repeat scroll 0 0 $green;
    color: $white;
    &:hover {
      background: none repeat scroll 0 0 $dark;
      color: $white;
    }
  }
  &.blue {
    background: none repeat scroll 0 0 $blue;
    color: $white;
    &:hover {
      background: none repeat scroll 0 0 $dark;
      color: $white;
    }
  }
}


// Outside imports
// ***************

@import "compass";
@import "zen";
@import "compass/css3/transition";
@import "compass/typography/text/replacement";
@import "sassy-buttons";

// Custom module imports
// ********************

@import "normalize";
@import "ui";
@import "main-nav";
@import "progress-bar";
@import "forms";

// Page styles
// ***********

@import "page-welcome";
@import "page-sign-in";
@import "page-new-request";
@import "page-requests";
@import "agency_contacts";
@import "page-free-edit";
@import "page-request-details";
@import "page-edit-groups";
@import "page-statute";
@import "page-stats";
@import "request-list";
@import "switch";

// Typography setup
// ****************

$base-font-size: 17px;
$base-line-height: $base-font-size * 1.3;

@include establish-baseline();
.error-msgs { // Things that need a transition
    @include transition-property();
    @include transition-duration(0.5s);
    a {
        color: #FCECBB;
    }
    .yesno {
        color: #FCECBB !important;
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.error-msgs {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    #error-msg-container {
        @include border-radius(0 0 4px 4px);
        @include text-shadow(rgba(black, 0.3) 0px 1px 1px);
        @include box-shadow(0px 1px 1px rgba(black, 0.15));
        width: 50%;
        margin: 0 auto;
        background-color: rgba(#cb2a2a, .75);
        border: 1px solid #cb2a2a;
        color: white;
        text-align: center;
        padding: 3px;
        display: none; // hidden by default
        #close-msg-btn {
            color: #FCECBB;
        }
    }
}

.btn-small {
    @include button-secondary-gray;
}

.add-btn.new-statute {
    &:hover {
        cursor: pointer;
    }
    @include flat-button;
    width: 160px;
    margin-bottom: 10px;
}

