@import "base";

html {
    font-family: "ff-meta-web-pro", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}


body {
    background-color: $nav-bg;
    margin: 0;
    padding: 0;
    height: 100%;
}


.app-wrap { // Container for entire app
    @include zen-grid-container();
    position: relative;//height can choose itself
    min-width: 410px;
}

.left-col { // Container for main navigation
    @include zen-grid-item(2,1);
    max-width: 215px;
    padding-left: 0;
    padding-right: 0;
        
    .logo {
        background-size: cover;
        background-color: $logo-bg;
        padding: 10px $zen-gutter-width 0;
        margin: 0;
        
        img {
            width: 100%;
            max-width: 290px;
        }
        .nfoic-header {
            margin: 0;
        }
    }
    margin-right: 0;
    width: 19%;
}

.right-col { // Container for everything else
    @include zen-grid-item(10,3);
    @include zen-nested-container();
    @include box-shadow(rgba(black, .1) -2px 0px 5px);
    height: 100%;
    //min-width: 645px;
    overflow: auto;
    //padding: $zen-gutter-width ($zen-gutter-width * 2);
    background-color: #fff;
    margin-left: 0;
    margin-right: 0;
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
}
.mobile-nav {
    display: none;
}

@media (max-width: 870px) {
    .left-col {
        display: none;
        .logo {
            display: none;
        }
        position: absolute;
        top: 91px;
        width: 100%;
        background-color: #FAF6EF;
        z-index: 40;
    }
    .right-col {
        min-width: 410px;
        overflow-x: hidden;
        width: 100% !important;
        float: none;
        margin-left: 0;
        margin-right: 0;
        //padding: 0;
        //padding-left: 10px !important;
        //padding-right: 10px !important;
        //padding-top: 30px;
        .header-controls-container.fixed-header {
            margin-top: -183px;
        }
    }
    .slide {
        height: 780px !important;
        padding: 5px;
        overflow-y: auto !important;
    }
    #agency-view-wrapper #agency-view {
        min-width: inherit !important;
    }
    .mobile-nav {
        display: block;
        .fa-times {
            display: none;
        }
        padding: 10px 20px;
        i {
            font-size: 4em;
        }
        .logo {
            display: inline;
            img {
                width: 105px;
            }
        }
        i:hover {
            cursor: pointer;
            i {
                color: #999;
            }
        }
        h1 {
            display: inline;
            pointer-events: none;
        }
        .nfoic-header {
            display: inline-block;
            min-width: 200px;
            pointer-events: none;
            position: absolute;
            top: 30px;
            h3 {
                margin: 0;
            }
        }
    }
}

@media (max-width: 500px) {
    #agency-view-wrapper #agency-view .title-bar #agency-search-box {
        display: block;
        width: 95%;
        margin: 0 auto;
    }
    #agency-view-wrapper #agency-view .title-bar {
        padding-bottom: 20px;
    }
}


.app-footer {
    @include zen-clear();
    @include zen-grid-item(12,1);
    border-top: 1px solid $nav-bg - 20;
    margin-top: $zen-gutter-width * 2;
    text-align: center;
    font-size: $base-font-size * 0.64705882; // 11px
    font-family: Helvetica, sans-serif;
    padding-top: $zen-gutter-width / 2;
    padding-bottom: $zen-gutter-width / 2;
    padding-left: 0;
    padding-right: 0;
    color: $nav-links;
    
    .knight,
    .cir,
    .rji,
    .nfoic,
    .hosting {
        display: inline-block;
        vertical-align: middle;
    }
    
    .cir {
        margin: 0 2%;
    }
    
    .hosting p {
        margin: 5px 0;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $headline;
}

h1,
.headline {
    @include adjust-font-size-to($base-font-size * 2.35294118);
    @include trailer(.3);
    margin-top: 0;
}
#viewableLink {
    font-size: 8px;
    font-weight: bold;
    padding: 5px;
    display: none;

}




