{% extends "base.html" %}

{% block content %}
    {% if validlink %}

    <p>Please enter a new password.</p>

    <form action="" method="post" class="standard-form">
        {% csrf_token %}
        <p>
            {{ form.new_password1.errors }}
        </p>
        <p>
            <label>Password</label>
            {{ form.new_password1 }}
        </p>
        <p>
            {{ form.new_password2.errors }}
        </p>
            <label>Confirm password</label>
            {{ form.new_password2 }}
        </p>
        <p>
        <div class="form-controls">
            <input class="call-to-action" type="submit" name="submit" value="Submit" />
        </div>
            

    </form>

    {% else %}

    <h1>Reset unsuccessful</h1>
    <p> That link is invalid. Did you copy and paste it correctly?</p>
    {% endif %}

{% endblock %}
