{% load url from future %}
{% load filter_tags %}
<section class="request-list">
	<div class="filters row {{scope}}">
	  <form id="filter-form" class="filters-expanded" method="get">
	      {{ filterform.non_field_errors }}
	      <div class="filterWrapper">
	          {{ filterform.agency.errors }}
	          <span class='filter-lbl'>By agency</span> {{ filterform.agency }}
	      </div>
	      <div class="filterWrapper">
	          {{ filterform.status.errors }}
	          <span class='filter-lbl'>By status</span> {{ filterform.status }}
	      </div>

	      <div class="filterWrapper">
	          {{ filterform.added_after.errors }}
	          {{ filterform.added_before.errors }}
	          <span class="filter-lbl">Added between dates</span>
	          {{ filterform.added_after }}
	          and
	          {{ filterform.added_before }}

	      </div>
	      <div class="filterWrapper">
	          {{ filterform.tags.errors }}
	          <span class="filter-lbl">By tag</span>
	          {% if scope == "Link" %}
	              {% for tag in tags.all %}
	                  {{ tag }}{% if not forloop.last %},{% endif %}
	              {% endfor %}
	          {% else %} 
	              {{ filterform.tags }}
	          {% endif %}

	      </div>
	      <input type="hidden" name="filtering" value="1" />
	      {% if scope == "Link" %}
	          <input type="hidden" name="code" value="{{code}}" />
	      {% endif %}

	      <input class='request-control-btn' type="submit" value="Filter" />
	      <a href="?{% if scope == "Link" %}code={{code}}{% endif %}">
	          <input type="button" class='request-control-btn' id="clear_filters" value="Clear Filters" />
	      </a>
	      {% if scope == "My" %}
	      <input type="button" class='request-control-btn' id="generateLinkButton" value="Generate Link to These Tags" />
	      {% endif %}
	  </form>
	</div>
	<form id="action_form" action="" method="POST" class="row">
	  {% csrf_token %}

	  	<div class="header-controls-container row">
  			{% if group %}
			<h3 class="group-name" style="padding-left: 10px;">{{ group }} requests</h3>
			{% endif %}	
		  	<div class="controls-filter-container {{scope}} row">
				<div class="update-controls">
				  <span id="shareSelectedButton" title="Share selected requests" class="request-control-btn"><i class="fa fa-share"></i></span>
				  <button class='request-control-btn' type="submit" name="action" title="Make selected requests public" value="Make Public"><i class="fa fa-unlock"></i></button>
				  <button class='request-control-btn' type="submit" name="action" title="Make selected requests private" value="Make Private"><i class="fa fa-lock"></i></button>
				  <button class='request-control-btn' type="submit" name="action" title="Delete selected requests" value="Delete"><i class="fa fa-trash-o"></i></button>
				  <div class="filters-toggle-container">
				      <span title="Show filters" class="filter-toggle show-filters"><i class="fa fa-filter"></i></span>
				      <span title="Hide filters" class="filter-toggle filters-expanded"><i class="fa fa-filter"></i></span>
				  </div>
				  {% if scope == "My" %}
				  <div class="add-tag-container">
				    <span title="Add tags to selected requests" class="request-control-btn add-btn" id="add-tag-reveal-btn"><i class="fa fa-tags"></i></span>
				    <div class="tag-input-container">
				      <input class="" id='add-tag' type="text" placeholder="Type the name of a tag" />
				      <span title="Add tags to selected requests" class="request-control-btn add-btn" id="add-tag-btn"><i class="fa fa-check-circle"></i></span>
				    </div>
				  </div>
				  {% endif %}
				  <select id="request-status" name="newstatus">
				      <option value="">Set selected requests' status to:</option>
				      <option value="U" >New (Unsent)</option>
				      <option value="I" >Incomplete</option>
				      <option value="S" >Filed (request sent)</option>
				      <option value="R" >Response received (but not complete)</option>
				      <option value="P" >Partially Fulfilled</option>
				      <option value="F" >Fulfilled</option>
				      <option value="D" >Denied</option>
				  </select>
				</div>
			</div>

			
			<div class="header order row {{scope}}">
				<div class="selectme"><input type="checkbox" id="check_all_requests"/></div>
				<div class="title"><a href="?order_by=title" class="title">Subject <i class="fa fa-caret-square-o-down hidden"></i></a></div>
				<div class="status"><a href="?order_by=status" class='status'>Status  <i class="fa fa-caret-square-o-down hidden"></i></a></div>
				<div class="response-due"><a href="?order_by=due_date" class="due_date">Response due  <i class="fa fa-caret-square-o-down hidden"></i></a></div>
			</div>	
		</div>
		<div class="request-list-conatiner {{scope}}">
		{% for object in object_list %}
			{% include 'requests/request_item.html' with object=object%}
		{% endfor %}
		</div>	
	</form>

	<div class="pagination row">
	{% if is_paginated %}
	    {% if page_obj.has_previous %}
	        <a class="page-nav prev-page" href="?{{queries_encoded}}&page={{ page_obj.previous_page_number }}"><i class="fa fa-arrow-left"></i></a>
	    {% else %}
	    &nbsp;&nbsp;
	    {% endif %}
	    Showing page {{page_obj.number}} of {{paginator.num_pages}}
	    {% if page_obj.has_next %}
	        <a class="page-nav next-page" href="?{{queries_encoded}}&page={{ page_obj.next_page_number }}"><i class="fa fa-arrow-right"></i></a>
	    {% else %}
	    &nbsp;&nbsp;

	    {% endif %}
	    <a class="page-nav showall" href="?{{queries_encoded}}&show=all"><i class="fa fa-list-alt"></i> Show all</a>

	{% endif %}
	</div>
</section>

